doctype 5
html
  head
    title Title
    // build:js js/all.js
    script(src="js/jquery-2.1.0.min.js", type="text/javascript")
    script(src="js/application.js", type="text/javascript")
    // endbuild
    link(href="css/application.css", media="all", rel="stylesheet", type="text/css")
  body
    h1 Hello, World!